.container {
    display: flex;
    flex-direction: row;
}

.projects-container {
    flex: 1;
    width: 30%;
    margin-right: 12px;
    background-color: black;
    min-height: 100vh;
    height: 100%;
}

.tasks-container {
    flex: 5;
}