.container {
    display: flex;
    flex-direction: row;
}

.projects-container {
    flex: 1;
    /* border-right: 1px solid #eee; */
    margin-right: 12px;
}

.tasks-container {
    flex: 2;
    background-color: pink;
}