.custom-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .custom-table th, .custom-table td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .custom-table th {
    background-color: #f2f2f2;
  }
  
  .custom-table tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
  }
  
  .field:hover {
    background: #eee; 
  }

  .editable-input {
    border: none;
    background: transparent; 
    width: 100%;
    outline: none; 
  }

  