.task {
  margin: 12px 24px;
}
.status-bar {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin-top: 2.2rem;
}

.status-bar li {
  margin-right: 3rem;
}

.status-bar > li > button {
  background-color: transparent;
  border: none; 
  cursor: pointer;
  font-size: 1rem;
}

.status-bar > li > button {
  background-color: transparent;
  border: none; 
  padding: 4px;
  border-radius: 5px;
  position: relative;
}

.status-bar > li > button:hover {
  background-color: #eee;
}

.active-status::after {
  content: "";
  position: absolute;
  background-color: #000;
  height: 2px;
  width: 100%;
  bottom: -5px;
  left: 0;
}

.new-task-btn {
  background-color: var(--primary-blue);
  color: #ffffff;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.new-task-btn:hover {
  opacity: 0.75;
}
