.status-bar {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin-top: 2.2rem;
}

.status-bar li {
  margin-right: 3rem;
}

.status-bar > li > button {
  background-color: transparent;
  border: none; 
  cursor: pointer;
}

.status-bar > li > button {
  background-color: transparent;
  border: none; 
  padding: 4px;
  border-radius: 5px;
  position: relative;
}

.status-bar > li > button:hover {
  background-color: #eee;
}

.active-status::after {
  content: "";
  position: absolute;
  background-color: #000;
  height: 2px;
  width: 100%;
  bottom: -5px;
  left: 0;
}

